@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background: #becada;
}

body::-webkit-scrollbar-track-piece {
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  color: inherit;
}

nav,
div,
section,
article,
input,
textarea,
img,
video {
  box-sizing: border-box;
}

.btn-effect {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.75;
  }
}
