@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=East+Sea+Dokdo&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #becada;
}

body::-webkit-scrollbar-track-piece {
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  color: inherit;
}

nav,
div,
section,
article,
input,
textarea,
img,
video {
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: sans-serif;
  font-size: 1rem;
}

.btn-effect {
  &:hover:enabled {
    opacity: 0.5;
  }

  &:active:enabled {
    opacity: 0.75;
    transition: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.scroll-none {
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slide-left-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes error {
  0% {
    transform: translateX(-5px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
